*.bak
*.cmp
*.qws
*.rpt
*.qdf
*.summary
*.pin
*.mif
*.jic
*.jdi
*.done
*.ddb
*.ppf
*.cdf
*.smsg
*.vho
*.sdo
*.wlf
*.xrf
*.sft
*.vo
*.sld
**/db
**/incremental_db
**/greybox_tmp
simulation/modelsim/*
!simulation/modelsim/*.vhd
!simulation/modelsim/*.vht
!simulation/modelsim/*.v
!simulation/modelsim/*.vt
!simulation/modelsim/*.do
**/synthesis
**/obj
